.review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-title{
    margin: 20px 0;
    font-size: 35px;
}
@media all and (max-width:480px){
    .review-container{
        margin: 10px;
    }
    .review-title{
        font-size: 25px;
    }
}