.about-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
.details-section{
    display: flex;

}
.details-section p{
    width: 50%;
    margin: auto 0;
    font-size: 30px;
}
.details-section img{
    width: 50%;
}
.about-title{
    margin: 40px 0;
}

@media all and (max-width: 480px){
    .details-section{
        flex-direction: column;
    }
    .details-section img {
        width: 100%;
        margin-bottom: 10px;
    }
    .details-section p{
        width: 100%;
        margin: 10px 0;
        font-stretch: expanded;
    }
}