.header-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 30px;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:flex-start;
    width: 80%;
    padding: 40px;
    text-decoration: none;
}
.header-title{
    font-size: 60px;
    font-weight: bold;
}
.second-title{
    color: blue;
}
.live-demo-btn{
    width: 122px;
    padding: 15px 13px;
    margin: 20px;
    margin-top: 40px;
    border: none;
    color: #4949ff;
    background-color: rgb(200 200 255);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.comment-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-review-btn{
    padding: 8px 60px;
    background-color: rgb(74, 74, 208);
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

@media all and (max-width:480px){
    .header-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .text-container{
        width: 100%;
        padding: 0px;
        text-align: center;
        text-decoration: none;
    }
    .live-demo-btn{
        margin: 30px auto;
    }
    .header-title {
        font-size: 30px;
    }
    .header-title p{
        margin: 0;
    }
    .header-details{
        width: 95%;
    }
    .comment-section{
        width: 100%;
    }
    .image-container img{
        width: 100%;
    }
    .comment-section{
        margin: 8px;
    }
}