.review{
    display: flex;
    align-items: center;
    border:1px solid #333;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    width: 55%;
}
.review img{
    width: 107px;
    height: 107px;
}
.comment{
    padding: 10px 20px;
    width: 500px;
}
.name{
    margin: 0;
}