.review{
    display: flex;
    align-items: center;
    border:1px solid rgba(144, 143, 143, 0.54);
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    width: 55%;
}
.review img{
    width: 107px;
    height: 107px;
    border-radius: 50%;
}
.comment{
    padding: 10px 20px;
    width: 500px;
}
.comment .name{
    color: rgba(0, 0, 0, 0.721);
}
.name{
    margin: 0;
}
@media all and (max-width:480px) {
    .review{
        flex-direction: column;
        width: 95%;
        margin: 10px auto;
    }
    .comment {
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }
    
}